%body
  = render 'chat-side/chat_side'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group ccc
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member aaa
          %li.main-header__left-box__member-list__member aaa
          %li.main-header__left-box__member-list__member aaa
          %li.main-header__left-box__member-list__member aaaa
          %li.main-header__left-box__member-list__member hiro
      .main-header__edit-btn>Edit
    .messages
      .message
        .message__upper-info
          %h2.message__upper-info__talker
            hiro
            %p.message__upper-info__date 2019/05/18(Sat) 18:59:58
          %p.message__text aaa
    .form
      .input-box
        %input{ placeholder:"type a message", class:  "input-box__text", type: "text", name: "message[content]", id: "message_content"}
          %i.far.fa-image.fa-lg


      %input{ type: "submit", name: "commit", value: "Send", class: "submit-btn", data_disable_with: "Send"}
