.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name>hiro
      %ul.side-header__box__menu
        %i.fas.fa-edit
        %i.fas.fa-cog
        %li.side-header__box__menu__new-group
  .groups
    .group
      %p.group__group-name>ccc
      %p.class.group__latest-message>aaaas
    .group
      %p.group__group-name>aaa
      %p.group__latest-message>まだメッセージがありません
      